*,
.doz_sys h1,
.doz_sys h2,
.doz_sys h3,
.doz_sys h4,
.doz_sys h5,
.doz_sys h6,
.title_font_style,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h1,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h2,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h3,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h4,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h5,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h6 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a {
  transition: none;
}

#doz_header_wrap {
  display: none;
}

body {
  padding-top: 108px;
}

body.shop_payment .section_wrap[doz_footer_repeat="N"],
body.shop_mypage .section_wrap[doz_footer_repeat="N"],
body.shop_payment_complete .section_wrap[doz_footer_repeat="N"] {
  background: none;
}

.doz_sys .radio-styled:not(ie8) input:checked ~ span:before,
.admin #edit_wrap .radio-styled:not(ie8) input:checked ~ span:before {
  background: radial-gradient(#f193b7 35%, #ffffff 45%);
}

.btn_7cf3cb1016072 {
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}

#w20231018591885ca14d00 .text_wrap {
  display: none !important;
}
#w20231018591885ca14d00 .item_container {
  border-radius: 16px;
  overflow: hidden;
}

.write_mode .tms-header {
  display: none;
}

.tms-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 32px 64px 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  transition: 0.3s ease all;
}
.tms-header a {
  outline: none;
}
.tms-header.fixed {
  background-color: #fdfaf7;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding-top: 16px;
}
.tms-header.fixed svg {
  height: 32px;
}
.tms-header.fixed .tms-header-nav,
.tms-header.fixed .tms-header-member {
  padding: 8px 0;
}
.tms-header::-moz-selection {
  color: #3c3c3c;
}
.tms-header::selection {
  color: #3c3c3c;
}
.tms-header-logo,
.tms-header-member {
  width: 160px;
}
.tms-header-nav,
.tms-header-member {
  padding: 16px 0;
}
.tms-header-logo {
  display: flex;
  justify-content: flex-start;
}
.tms-header-logo svg {
  height: 60px;
  transition: 0.3s ease;
}
.tms-header ul {
  list-style: none;
  margin: 0;
}
.tms-header-nav {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}
.tms-header-nav > li {
  margin: 0 32px;
  white-space: nowrap;
}
.tms-header-member {
  display: flex;
  justify-content: flex-end;
}
.tms-header-member li + li {
  margin-left: 64px;
}
.tms-header-member li a {
  opacity: 0.4;
}
.tms-header-member li a:hover {
  opacity: 1;
}
.tms-header .badge_wrap {
  display: none;
}
.tms-header .depth-01 ul {
  font-weight: 400;
  font-size: 14px;
  padding: 32px 0 0;
  width: 100%;
  display: none;
}
.tms-header .depth-01 ul li {
  line-height: 1em;
}
.tms-header .depth-01 ul li a {
  color: #a5a5a5;
}
.tms-header .depth-01 ul li + li {
  margin-top: 24px;
}
.tms-header:hover {
  background-color: #fdfaf7;
}
.tms-header .tms-header-nav:hover .depth-01 ul {
  display: block;
}

h2.tms-h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
}

.tms-btn {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  background-color: #ffec9f;
  border-radius: 2.5em;
  cursor: pointer;
}

.tms-btn:hover {
  background-color: #ffc4dc;
}

.tms-search-btn {
  cursor: pointer;
}

.tms-footer {
  margin-top: 80px;
  background-color: #bee1f0;
  position: relative;
  border-radius: 64px 64px 0 0;
  overflow: hidden;
}
.tms-footer a {
  color: inherit;
}
.tms-footer-bg {
  position: relative;
  z-index: 1;
}
.tms-footer-inner {
  padding: 0 64px;
}
.tms-footer-top {
  display: flex;
  font-size: 16px;
}
.tms-footer-top > div + div {
  margin-left: 48px;
}
.tms-footer-top h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}
.tms-footer-top ul {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  line-height: 1em;
}
.tms-footer-top ul li {
  margin-top: 12px;
}
.tms-footer-bottom {
  padding: 0;
  list-style: none;
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  color: #a5a5a5;
}
.tms-footer-bottom li + li::before {
  content: "";
  border-left: 1px solid #a5a5a5;
  margin: 0 16px;
}
.tms-footer-social a {
  display: flex;
}
.tms-footer-social img {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.tms-footer-bg1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.tms-footer-bg1 svg {
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tms-footer-bg2 {
  position: relative;
}
.tms-footer-bg2 svg {
  width: 100%;
  transform: translateY(10%);
}

.tms-footer-bg3 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 25%;
}
.tms-footer-bg3 g {
  transition: 1s ease all;
  transform: translateY(30%);
}
.tms-footer-bg3 .bunny {
  transition-delay: 0.1s;
}
.tms-footer-bg3 .puppy {
  transition-delay: 0.2s;
}
.tms-footer-bg3.loaded g {
  transform: translateY(0);
}

.kakao-add,
.tms-footer-inner {
  position: relative;
  z-index: 10;
}

.kakao-add {
  padding-top: 100px;
  padding-bottom: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kakao-add p {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.6em;
}

#w2023101619d6346992227 ._gallery_wrap {
  height: auto !important;
  width: 100%;
  aspect-ratio: 21/9;
}
#w2023101619d6346992227 .owl-stage-outer {
  border-radius: 20px;
  overflow: hidden;
}

.tms-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.tms-bg > svg {
  position: absolute;
}
.tms-bg1 {
  right: 5%;
  top: 50%;
}
.tms-bg2 {
  left: 10%;
  top: 50%;
}
.tms-bg3 {
  left: 20%;
  top: 100%;
}
.tms-bg4 {
  right: 20%;
  top: 100%;
}
.tms-bg5 {
  left: 30%;
  top: 100%;
}
.tms-bg-bare {
  position: absolute;
  left: calc(50% + 140px);
  top: 240px;
  transition: 1s ease;
}
.tms-bg-bare.loaded {
  top: 120px;
}
.tms-bg-puppy {
  position: absolute;
  top: 80px;
  right: calc(50% + 140px);
  transition: 1s ease;
  transform: rotate(10deg);
}
.tms-bg-puppy.loaded {
  transform: rotate(0);
}
.tms-bg-bunny {
  position: absolute;
  top: 240px;
  right: calc(50% + 80px);
  transition: 1s ease;
}
.tms-bg-bunny.loaded {
  top: 48px;
}

#w2023101619d6346992227 .type_slide .owl-controls .owl-next:before,
#w2023101619d6346992227 .type_slide .owl-controls .owl-prev:before,
#w202310189f8d8e80c145c .type_slide .owl-controls .owl-next:before,
#w202310189f8d8e80c145c .type_slide .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .type_slide .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .type_slide .owl-controls .owl-prev:before {
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 0;
}
#w2023101619d6346992227 .owl-controls .owl-prev:before,
#w202310189f8d8e80c145c .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .owl-controls .owl-prev:before {
  left: 0;
  transform: translate(-50%, -50%);
}
#w2023101619d6346992227 .owl-controls .owl-next:before,
#w202310189f8d8e80c145c .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .owl-controls .owl-next:before {
  right: 0;
  transform: translate(50%, -50%);
}

#w202310189f8d8e80c145c .owl-stage,
#w20231018839cc2c5994f6 .owl-stage {
  display: flex;
}
#w202310189f8d8e80c145c .owl-stage-outer,
#w20231018839cc2c5994f6 .owl-stage-outer {
  overflow: visible;
}
#w202310189f8d8e80c145c .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .owl-controls .owl-prev:before {
  left: 12px;
}
#w202310189f8d8e80c145c .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .owl-controls .owl-next:before {
  right: 12px;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item,
#w20231018839cc2c5994f6 .owl-carousel .owl-item {
  float: none;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .item_container,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .item_container {
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  overflow: hidden;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .text_wrap,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .text_wrap {
  display: block !important;
  padding-bottom: 40px;
  padding-top: 40px;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .text_wrap .title,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .text_wrap .title {
  padding: 0;
  font-weight: 600;
}

.list-style-card .card {
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}

.tms-reservation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
.tms-reservation-bar h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  width: 240px;
  text-align: center;
  flex-shrink: 0;
}
.tms-reservation-bar-search {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-self: stretch;
  position: relative;
}
.tms-reservation-bar-list {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 24px 24px;
  z-index: 10;
  box-shadow: 0px 12px 24px 0px rgba(230, 223, 199, 0.24);
  overflow: hidden;
  display: none;
}
.tms-reservation-bar-list.active {
  display: block;
}
.tms-reservation-bar-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tms-reservation-bar-list ul h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.tms-reservation-bar-list ul p {
  font-size: 14px;
  color: #a5a5a5;
  margin: 0;
}
.tms-reservation-bar-list ul li {
  margin: 0;
  cursor: pointer;
  padding: 12px 32px;
}
.tms-reservation-bar-list ul li.hidden {
  display: none;
}
.tms-reservation-bar-list ul li:hover {
  background-color: #fdfaf7;
}
.tms-reservation-bar-empty {
  color: #a5a5a5;
  text-align: center;
  padding: 24px 0;
  display: none;
}
.tms-reservation-bar-empty.active {
  display: block;
}
.tms-reservation-bar label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 8px;
  padding: 0 24px;
  border: 1px solid #ebebeb;
  border-radius: 48px;
}
.tms-reservation-bar label h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-right: 16px;
}
.tms-reservation-bar label div,
.tms-reservation-bar label h4 {
  flex-shrink: 0;
}
.tms-reservation-bar label input {
  margin: 0;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}
.tms-reservation-bar label input::-moz-placeholder {
  color: #ebebeb;
}
.tms-reservation-bar label input::placeholder {
  color: #ebebeb;
}
.tms-reservation-bar .tms-btn {
  flex-shrink: 0;
  width: 240px;
}

.shop-content .tms-reservation-info {
  display: none;
}

.info-setting {
  display: none;
}

.shop-item .item-thumbs {
  background-color: #fff;
  display: block !important;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}
.shop-item .item-detail {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  padding: 40px 24px;
}
.shop-item .item-detail .ns-icon {
  display: none !important;
}
.shop-item .location-info {
  color: #a5a5a5;
  font-weight: 600;
  font-size: 14px;
}
.shop-item .item-pay h2 {
  font-weight: 600 !important;
  margin-bottom: 8px !important;
}
.shop-item .pay {
  font-weight: 600 !important;
}
.shop-item .sale_pay {
  color: #ebebeb;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.shop-item .ns-icon {
  text-align: left;
  padding: 16px;
  margin: 0;
}
.shop-item .tms-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ns-icon .prod_icon {
  border-radius: 2px;
  color: #3c3c3c;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1em;
}
.ns-icon .prod_icon.sale {
  background-color: #ffec9f;
  border-color: #ffec9f;
}
.ns-icon .prod_icon.best {
  color: #3c3c3c !important;
  background-color: #a7d4ee;
  border-color: #a7d4ee;
}
.ns-icon .prod_icon.hot {
  background-color: #ffa2cb;
  border-color: #ffa2cb;
}
.ns-icon .prod_icon.md {
  background-color: #b4e1d6;
  border-color: #b4e1d6;
}
.ns-icon .prod_icon + .prod_icon {
  margin-left: 8px;
}

.reservation-ui {
  display: none;
  grid-template-columns: 1fr 480px;
  gap: 64px;
  margin-top: 80px;
  padding: 0 64px;
}

.tms-reservation-mode .reservation-ui {
  display: grid;
}
.tms-reservation-mode .reservation-ui ._selected_require_option {
  display: none;
}
.tms-reservation-mode .pickup-date-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1em;
  font-size: 14px;
  margin-bottom: 48px;
}
.tms-reservation-mode .pickup-date-list li {
  border: 1px solid #a5a5a5;
  padding: 8px 16px;
  border-radius: 48px;
  opacity: 0.2;
  cursor: pointer;
}
.tms-reservation-mode .pickup-date-list li.active {
  opacity: 1;
}
.tms-reservation-mode .pickup-date-list li:hover {
  opacity: 0.5;
}
.tms-reservation-mode .pickup-date-list .day {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}
.tms-reservation-mode .pickup-time-list {
  display: none;
  gap: 24px;
}
.tms-reservation-mode .pickup-time-list.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1em;
}
.tms-reservation-mode .pickup-time-list li {
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.tms-reservation-mode .pickup-time-list li.active {
  background-color: #ffc4dc;
}
.tms-reservation-mode .pickup-time-list li.disable {
  background: none;
  color: #ebebeb;
  cursor: not-allowed;
}

.reservation-payments .product_img_wrap {
  display: none;
}
.reservation-payments .shop_item_thumb .product_info_wrap .shop_item_title {
  display: none;
  font-size: 20px;
  font-weight: 600;
}

.shop_payment h1.shop-tit {
  font-weight: 600;
}
.shop_payment .im-payment-deliv {
  background-color: #fdfaf7;
}
.shop_payment .btn_start_payment {
  margin-top: 16px;
  border-radius: 48px !important;
}
.shop_payment .btn_start_payment:hover {
  background-color: #ffc4dc !important;
  border-color: #ffc4dc !important;
}
.shop_payment .text-brand {
  color: #f193b7 !important;
}
.shop_payment .tip-off {
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}
.shop_payment .tip-off.bg-gray {
  background-color: #fff;
  margin-top: 16px;
}
.shop_payment .tip-off.bg-gray .text-brand {
  font-weight: 600;
}
