@charset "UTF-8";
.preview_mode {
  position: relative;
}

#w20231019c1a4afceae3c2,
#w20231019e6bb790face79,
#w20231019021b5d0dd08d7,
#w20231019201a0e45dc079,
#w20231019d8f95a737dc34 {
  display: none;
}

#two-more-steps-script-loader {
  display: none !important;
}

#s20231018ba2c133132f80 {
  overflow: hidden;
}

*,
.doz_sys h1,
.doz_sys h2,
.doz_sys h3,
.doz_sys h4,
.doz_sys h5,
.doz_sys h6,
.title_font_style,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h1,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h2,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h3,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h4,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h5,
.section-setting .preview-mode .fr-box.fr-basic .fr-element h6 {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  word-break: keep-all;
}

a {
  transition: none;
}

#s202310183191edb29254e {
  display: none;
}

#doz_header_wrap {
  display: none;
}

body {
  padding: 0;
}
body.tms-subpage {
  padding: 0;
}

body.shop_payment .section_wrap[doz_footer_repeat=N],
body.shop_mypage .section_wrap[doz_footer_repeat=N],
body.shop_payment_complete .section_wrap[doz_footer_repeat=N] {
  background: none;
}

.doz_sys .radio-styled:not(ie8) input:checked ~ span:before,
.admin #edit_wrap .radio-styled:not(ie8) input:checked ~ span:before {
  background: radial-gradient(#f193b7 35%, #ffffff 45%);
}

.btn_7cf3cb1016072 {
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}

#w20231018591885ca14d00 .text_wrap {
  display: none !important;
}
#w20231018591885ca14d00 .item_container {
  border-radius: 16px;
  overflow: hidden;
}

.write_mode .tms-header {
  display: none;
}

.tms-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 32px 64px 16px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  transition: 0.3s ease all;
}
.tms-header a {
  outline: none;
}
.tms-header.fixed {
  background-color: #fdfaf7;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding-top: 16px;
}
.tms-header.fixed svg {
  height: 32px;
}
.tms-header.fixed .tms-header-nav,
.tms-header.fixed .tms-header-member {
  padding: 8px 0;
}
.tms-header::-moz-selection {
  color: #3c3c3c;
}
.tms-header::selection {
  color: #3c3c3c;
}
.tms-header-logo, .tms-header-member {
  width: 160px;
}
.tms-header-nav, .tms-header-member {
  padding: 16px 0;
}
.tms-header-logo {
  display: flex;
  justify-content: flex-start;
}
.tms-header-logo svg {
  height: 60px;
  transition: 0.3s ease;
}
.tms-header ul {
  list-style: none;
  margin: 0;
}
.tms-header-nav {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}
.tms-header-nav > li {
  margin: 0 32px;
  white-space: nowrap;
}
.tms-header-member {
  display: flex;
  justify-content: flex-end;
}
.tms-header-member li + li {
  margin-left: 64px;
}
.tms-header-member li a {
  opacity: 0.4;
}
.tms-header-member li a:hover {
  opacity: 1;
}
.tms-header .badge_wrap {
  display: none;
}
.tms-header .depth-01 ul {
  font-weight: 400;
  font-size: 14px;
  padding: 32px 0 0;
  width: 100%;
  display: none;
}
.tms-header .depth-01 ul li {
  line-height: 1em;
}
.tms-header .depth-01 ul li a {
  color: #a5a5a5;
}
.tms-header .depth-01 ul li + li {
  margin-top: 24px;
}
.tms-header:hover {
  background-color: #fdfaf7;
}
.tms-header .tms-header-nav:hover .depth-01 ul {
  display: block;
}

h2.tms-h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1em;
  margin: 0;
}

.tms-btn {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  background-color: #ffec9f;
  border-radius: 2.5em;
  cursor: pointer;
}

.tms-btn:hover {
  background-color: #ffc4dc;
}

.tms-search-btn {
  cursor: pointer;
}

.tms-footer {
  margin-top: 80px;
  background-color: #bee1f0;
  position: relative;
  border-radius: 64px 64px 0 0;
  overflow: hidden;
}
.tms-footer a {
  color: inherit;
}
.tms-footer-bg {
  position: relative;
  z-index: 1;
}
.tms-footer-inner {
  padding: 0 64px;
}
.tms-footer-top {
  display: flex;
  font-size: 16px;
}
.tms-footer-top > div + div {
  margin-left: 48px;
}
.tms-footer-top h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}
.tms-footer-top ul {
  list-style: none;
  margin-top: 24px;
  padding: 0;
  line-height: 1em;
}
.tms-footer-top ul li {
  margin-top: 12px;
}
.tms-footer-bottom {
  padding: 0;
  list-style: none;
  margin-top: 48px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  color: #a5a5a5;
}
.tms-footer-bottom li + li::before {
  content: "";
  border-left: 1px solid #a5a5a5;
  margin: 0 16px;
}
.tms-footer-social a {
  display: flex;
}
.tms-footer-social img {
  display: block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.tms-reservation-mode .tms-footer {
  display: none;
}

.tms-footer-bg1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.tms-footer-bg1 svg {
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tms-footer-bg2 {
  position: relative;
}
.tms-footer-bg2 svg {
  width: 100%;
  transform: translateY(10%);
}

.tms-footer-bg3 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 25%;
}
.tms-footer-bg3 g {
  transition: 1s ease all;
  transform: translateY(30%);
}
.tms-footer-bg3 .bunny {
  transition-delay: 0.1s;
}
.tms-footer-bg3 .puppy {
  transition-delay: 0.2s;
}
.tms-footer-bg3.loaded g {
  transform: translateY(0);
}
.tms-footer-bg3.loaded:hover {
  cursor: grab;
}
.tms-footer-bg3.loaded:hover g {
  transform: translateY(30%);
}

.kakao-add,
.tms-footer-inner {
  position: relative;
  z-index: 10;
}

.kakao-add {
  padding-top: 100px;
  padding-bottom: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kakao-add p {
  margin-top: 64px;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.6em;
}

#w2023101619d6346992227 ._gallery_wrap {
  height: auto !important;
  width: 100%;
  aspect-ratio: 21/9;
}
#w2023101619d6346992227 .owl-stage-outer {
  border-radius: 20px;
  overflow: hidden;
}

.tms-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.tms-bg > svg {
  position: absolute;
}
.tms-bg1 {
  right: 5%;
  top: 50%;
}
.tms-bg2 {
  left: 10%;
  top: 50%;
}
.tms-bg3 {
  left: 20%;
  top: 100%;
}
.tms-bg4 {
  right: 20%;
  top: 100%;
}
.tms-bg5 {
  left: 30%;
  top: 100%;
}
.tms-bg-bare, .tms-bg-puppy, .tms-bg-bunny {
  z-index: -1;
}
.tms-bg-bare {
  position: absolute;
  left: calc(50% + 140px);
  top: 240px;
  transition: 1s ease;
}
.tms-bg-bare.loaded {
  top: 120px;
}
.tms-bg-bare:hover {
  top: 240px;
}
.tms-bg-puppy {
  position: absolute;
  top: 80px;
  right: calc(50% + 140px);
  transition: 1s ease;
  transform: rotate(10deg);
}
.tms-bg-puppy.loaded {
  transform: rotate(0);
}
.tms-bg-bunny {
  position: absolute;
  top: 240px;
  right: calc(50% + 80px);
  transition: 1s ease;
}
.tms-bg-bunny.loaded {
  top: 48px;
}

#w2023101619d6346992227 .type_slide .owl-controls .owl-next:before,
#w2023101619d6346992227 .type_slide .owl-controls .owl-prev:before,
#w202310189f8d8e80c145c .type_slide .owl-controls .owl-next:before,
#w202310189f8d8e80c145c .type_slide .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .type_slide .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .type_slide .owl-controls .owl-prev:before,
#w20231018403184e9a01d1 .type_slide .owl-controls .owl-next:before,
#w20231018403184e9a01d1 .type_slide .owl-controls .owl-prev:before {
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 48px;
  height: 48px;
  font-size: 16px;
  color: #3c3c3c;
  margin: 0;
}
#w2023101619d6346992227 .owl-controls .owl-prev:before,
#w202310189f8d8e80c145c .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .owl-controls .owl-prev:before,
#w20231018403184e9a01d1 .owl-controls .owl-prev:before {
  left: 0;
  transform: translate(-50%, -50%);
}
#w2023101619d6346992227 .owl-controls .owl-next:before,
#w202310189f8d8e80c145c .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .owl-controls .owl-next:before,
#w20231018403184e9a01d1 .owl-controls .owl-next:before {
  right: 0;
  transform: translate(50%, -50%);
}

#w202310189f8d8e80c145c .owl-stage,
#w20231018839cc2c5994f6 .owl-stage {
  display: flex;
}
#w202310189f8d8e80c145c .owl-stage-outer,
#w20231018839cc2c5994f6 .owl-stage-outer {
  overflow: visible;
}
#w202310189f8d8e80c145c .owl-controls .owl-prev:before,
#w20231018839cc2c5994f6 .owl-controls .owl-prev:before {
  left: 12px;
}
#w202310189f8d8e80c145c .owl-controls .owl-next:before,
#w20231018839cc2c5994f6 .owl-controls .owl-next:before {
  right: 12px;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item,
#w20231018839cc2c5994f6 .owl-carousel .owl-item {
  float: none;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .item_container,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .item_container {
  border-radius: 16px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  overflow: hidden;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .text_wrap,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .text_wrap {
  display: block !important;
  padding-bottom: 40px;
  padding-top: 40px;
}
#w202310189f8d8e80c145c .owl-carousel .owl-item .text_wrap .title,
#w20231018839cc2c5994f6 .owl-carousel .owl-item .text_wrap .title {
  padding: 0;
  font-weight: 600;
}

.list-style-card .card {
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}

.tms-reservation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
.tms-reservation-bar .mCSB_scrollTools {
  margin: 24px 0 !important;
}
.tms-reservation-bar h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  width: 240px;
  text-align: center;
  flex-shrink: 0;
}
.tms-reservation-bar-search {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-self: stretch;
  position: relative;
}
.tms-reservation-bar-list {
  position: absolute;
  left: 0;
  top: calc(100% + 8px);
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 24px 24px;
  z-index: 10;
  box-shadow: 0px 12px 24px 0px rgba(230, 223, 199, 0.24);
  overflow: hidden;
  display: none;
}
.tms-reservation-bar-list.active {
  display: block;
}
.tms-reservation-bar-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 240px;
}
.tms-reservation-bar-list ul h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.tms-reservation-bar-list ul p {
  font-size: 14px;
  color: #a5a5a5;
  margin: 0;
}
.tms-reservation-bar-list ul li {
  margin: 0;
  cursor: pointer;
  padding: 12px 32px;
}
.tms-reservation-bar-list ul li.hidden {
  display: none;
}
.tms-reservation-bar-list ul li:hover {
  background-color: #fdfaf7;
}
.tms-reservation-bar-empty {
  color: #a5a5a5;
  text-align: center;
  padding: 24px 0;
  display: none;
}
.tms-reservation-bar-empty.active {
  display: block;
}
.tms-reservation-bar label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0 8px;
  padding: 0 24px;
  border: 1px solid #ebebeb;
  border-radius: 48px;
}
.tms-reservation-bar label h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-right: 16px;
}
.tms-reservation-bar label div,
.tms-reservation-bar label h4 {
  flex-shrink: 0;
}
.tms-reservation-bar label input {
  margin: 0;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}
.tms-reservation-bar label input::-moz-placeholder {
  color: #ebebeb;
}
.tms-reservation-bar label input::placeholder {
  color: #ebebeb;
}
.tms-reservation-bar .tms-btn {
  flex-shrink: 0;
  width: 240px;
}

.shop-content .tms-reservation-info {
  display: none;
}

#doz_body .tms-reservation-info {
  font-size: 14px;
  border: none;
}
#doz_body .tms-reservation-info th {
  font-weight: 600;
  width: 100px;
  padding-right: 20px;
  white-space: nowrap;
  background: none;
}
#doz_body .tms-reservation-info td {
  color: #a5a5a5;
}
#doz_body .tms-reservation-info td,
#doz_body .tms-reservation-info th {
  padding-bottom: 12px;
  vertical-align: top;
  border: none;
}

.shop_view .reservation-ui-right h3 {
  position: sticky;
  background-color: #fdfaf7;
  top: 0;
  z-index: 10;
}
.shop_view .reservation-ui-right h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 64px;
  background: linear-gradient(180deg, #fdfaf7 0%, rgba(253, 250, 247, 0) 100%);
}
.shop_view .reservation-ui-select {
  position: relative;
  height: 100%;
  padding-bottom: 120px;
}
.shop_view .tms-sticky {
  position: sticky;
  top: 160px;
  height: -moz-max-content;
  height: max-content;
}

.modal-body .tms-reservation-info {
  margin-top: 24px;
  margin-bottom: 24px;
}

.info-setting {
  display: none;
}

.location .tms-card-item .tms-card-body {
  font-size: 14px;
}

.shop-item .item-thumbs,
.shop-item .shop-item-thumb {
  background-color: #fff;
  display: block !important;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}
.shop-item .item-detail {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  padding: 40px 24px;
  line-height: 1em;
}
.shop-item .item-detail .ns-icon,
.shop-item .item-detail .item-icon {
  display: none !important;
}
.shop-item.tms-sold-out .ns-icon {
  display: none !important;
}
.shop-item.tms-sold-out .shop-item-thumb {
  position: relative;
}
.shop-item.tms-sold-out .shop-item-thumb::after {
  content: "Sold Out";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border: 1px solid #a5a5a5;
  padding: 8px 20px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 48px;
}
.shop-item.tms-sold-out .shop-item-thumb img {
  filter: grayscale(1);
  opacity: 0.5;
}
.shop-item .location-info {
  color: #a5a5a5;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.shop-item .item-pay h2 {
  font-weight: 600 !important;
  margin-bottom: 8px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.shop-item .pay {
  font-weight: 600 !important;
}
.shop-item .sale_pay {
  color: #ebebeb;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.shop-item .ns-icon {
  text-align: left;
  padding: 16px;
  margin: 0;
}
.shop-item .tms-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ns-icon .prod_icon {
  border-radius: 2px;
  color: #3c3c3c;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1em;
}
.ns-icon .prod_icon.sale {
  background-color: #ffec9f;
  border-color: #ffec9f;
}
.ns-icon .prod_icon.best {
  color: #3c3c3c !important;
  background-color: #a7d4ee;
  border-color: #a7d4ee;
}
.ns-icon .prod_icon.hot {
  background-color: #ffa2cb;
  border-color: #ffa2cb;
}
.ns-icon .prod_icon.md {
  background-color: #b4e1d6;
  border-color: #b4e1d6;
}
.ns-icon .prod_icon + .prod_icon {
  margin-left: 8px;
}

.reservation-ui {
  display: none;
  grid-template-columns: 1fr 360px;
  gap: 64px;
  padding: 0 64px;
  position: relative;
}

.reservation-event {
  margin-top: 48px;
  aspect-ratio: 4/3;
  position: relative;
  width: 100%;
}

.reservation-ui-select {
  position: sticky;
  top: 0;
  height: -moz-max-content;
  height: max-content;
}

.reservation-ui-left {
  padding-top: 80px;
  width: 100%;
  overflow: hidden;
}

.reservation-ui-right {
  position: relative;
  height: 100%;
}
.reservation-ui-right h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-top: 80px;
}
.reservation-ui-right h4 {
  margin-top: 48px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #ffa2cb;
}
.reservation-ui-right h5,
.reservation-ui-right .view_tit {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px !important;
}
.reservation-ui-right .goods_payment .opt_block.bottom,
.reservation-ui-right .opt_product_area .area_tit:before,
.reservation-ui-right .order_quantity_area .area_tit:before {
  display: none;
}
.reservation-ui-right .goods_payment .opt_block,
.reservation-ui-right .order_quantity_area {
  padding: 0;
  background: none;
}
.reservation-ui-right .goods_payment .opt_block {
  margin-bottom: 16px;
}
.reservation-ui-right .mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.reservation-ui-right .mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  margin: 0;
}
.reservation-ui-right .opt_product_area .area_tit,
.reservation-ui-right .order_quantity_area .area_tit {
  margin-bottom: 8px;
}
.reservation-ui-right .option_btn_tools input.form-control {
  border: none !important;
  color: #a5a5a5 !important;
  padding: 0 4px !important;
  height: 100% !important;
  width: 32px;
}
.reservation-ui-right .reservation-menu-inner {
  max-height: 20vh;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
}
.reservation-ui-right .reservation-menu-inner:not(.mCS_no_scrollbar) {
  padding-right: 20px;
}
.reservation-ui-right .reservation-menu-total {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.reservation-ui-right .reservation-menu-result {
  font-weight: 700;
}
.reservation-ui-right .area_tit a {
  color: #a5a5a5;
}
.reservation-ui-right .option_btn_tools {
  border-radius: 48px;
  padding: 0 12px;
  border: 1px solid #ebebeb;
  background: none;
}
.reservation-ui-right .option_btn_tools a {
  color: #a5a5a5 !important;
  font-weight: 700 !important;
}

#s202310180047971de9e17 {
  display: none;
}

#w20231018d47057c6c8abc {
  display: none;
}

.tms-reservation-mode #s20230905cf46aae7bdfed {
  display: none;
}
.tms-reservation-mode .tms-reservation-steps {
  display: block;
}
.tms-reservation-mode .reservation-ui {
  display: grid;
}
.tms-reservation-mode .reservation-ui ._selected_require_option {
  display: none;
}
.tms-reservation-mode #s202310180047971de9e17 {
  display: block;
}
.tms-reservation-mode #s202310180047971de9e17 .owl-stage-outer {
  border-radius: 16px;
  overflow: hidden;
}
.tms-reservation-mode #s202310180047971de9e17 .owl-stage-outer .img_wrap {
  aspect-ratio: 4/3;
}
.tms-reservation-mode .goods_payment .opt_block.bottom .text-left {
  display: none;
}
.tms-reservation-mode .goods_payment .opt_block.bottom .total_price {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
}
.tms-reservation-mode .goods_payment .opt_block.bottom .total_price::before {
  content: "총";
}

.reservation-payments .product_img_wrap {
  display: none;
}
.reservation-payments .shop_item_thumb .product_info_wrap .shop_item_title {
  display: none;
  font-size: 20px;
  font-weight: 600;
}

.shop_payment h1.shop-tit {
  font-weight: 600;
}
.shop_payment .im-payment-deliv {
  background-color: #fdfaf7;
}
.shop_payment .btn_start_payment {
  margin-top: 16px;
  border-radius: 48px !important;
}
.shop_payment .btn_start_payment:hover {
  background-color: #ffc4dc !important;
  border-color: #ffc4dc !important;
}
.shop_payment .text-brand {
  color: #f193b7 !important;
}
.shop_payment .tip-off {
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}
.shop_payment .tip-off.bg-gray {
  background-color: #fff;
  margin-top: 16px;
}
.shop_payment .tip-off.bg-gray .text-brand {
  font-weight: 600;
}

#s202310180047971de9e17 .doz_aside {
  display: none;
}

.tms-subpage-title {
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffec9f;
  background-image: url("https://cdn.imweb.me/upload/S2023090509034a75f0994/d59832d1b24ba.png"), url("https://cdn.imweb.me/upload/S2023090509034a75f0994/0cdd381ddb771.png");
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 120%;
}
.tms-subpage-title h2 {
  font-size: 48px;
  font-weight: 600;
}

.tms-ui-hidden {
  display: none !important;
}

.tms-loading {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #64d296;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: 700;
  transition: 0.3s ease opacity;
  padding: 24px;
  display: none;
}
.tms-loading img {
  max-width: 240px;
}
.loaded .tms-loading {
  opacity: 0;
}

.shop_view .tms-loading {
  display: flex;
}

.tms-loaded.tms-reservation-mode .tms-loading,
.tms-loaded.tms-normal-mode .tms-loading {
  display: none;
}

.tms-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
.tms-category-item {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #fff;
  opacity: 0.2;
}
.tms-category-item:hover {
  opacity: 0.5;
}
.tms-category-item.active {
  opacity: 1;
  border-color: #ebebeb;
}
.tms-category-item + .tms-category-item {
  margin-left: 16px;
}

.tms-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}
.tms-card-item {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  text-align: center;
}
.tms-card-item .tms-card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 40px;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tms-card-item .tms-card-body {
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 40px;
  color: #ffa2cb;
  padding: 0 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tms-card-img {
  aspect-ratio: 1/1;
  overflow: hidden;
}
.tms-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tms-card-empty {
  display: none;
  text-align: center;
  font-size: 14px;
  color: #a5a5a5;
  white-space: nowrap;
  padding: 64px 24px;
}
.tms-card-empty.active {
  display: block;
}
.tms-card-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.tms-card-search-input {
  max-width: 480px;
  width: 100%;
  border: 1px solid #a5a5a5;
  line-height: 1em;
  padding: 12px 24px;
  border-radius: 48px;
  background: none;
  font-size: 16px;
}

.tms-padding {
  padding: 0 64px;
}

.item_gallary .text_wrap .title {
  line-height: 1em;
}

.item_gallary .text_wrap .body {
  margin-top: 8px;
}

.doz_sys .shop-item h2 {
  line-height: 1em;
}

.shop-item .item-detail .item-pay h2 a {
  margin: 0;
}

.tms-steps {
  display: flex;
  max-width: 1280px;
  background-color: #fff;
  margin: 0 auto;
  padding: 8px;
  transform: translateY(-50%);
  border-radius: 48px;
  overflow: hidden;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
}
.tms-steps-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 1em;
  padding: 16px 24px;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #fff;
  opacity: 0.2;
}
.tms-steps-item.active {
  opacity: 1;
  border-color: #ebebeb;
}
.tms-steps-item + .tms-steps-item {
  margin-left: 16px;
}
.tms-steps-title {
  display: flex;
  align-items: center;
}
.tms-steps-title h3,
.tms-steps-title h4 {
  margin: 0;
  font-weight: 600;
}
.tms-steps-title h3 {
  font-size: 20px;
}
.tms-steps-title h4 {
  font-size: 16px;
  margin-right: 16px;
  color: #a5a5a5;
}
.tms-steps-title + div {
  font-size: 16px;
  font-weight: 600;
}
.tms-steps-date.disable {
  cursor: not-allowed;
}

.pickup-date {
  display: none;
}
.pickup-date.active {
  display: block;
}
.pickup-date h3,
.pickup-date .pickup-season,
.pickup-date p {
  display: none;
}
.pickup-date.season h3 {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 600;
  color: #3c3c3c;
}
.pickup-date.season p {
  display: block;
  text-align: center;
  margin-bottom: 64px;
  color: #a5a5a5;
}
.pickup-date.season .pickup-season {
  display: block;
  margin-bottom: 120px;
}

.pickup-date-swiper,
.pickup-season-date-swiper {
  position: relative;
  width: 100%;
  margin-bottom: 48px;
  overflow: hidden;
}
.pickup-date-swiper .swiper-button-next,
.pickup-date-swiper .swiper-button-prev,
.pickup-season-date-swiper .swiper-button-next,
.pickup-season-date-swiper .swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  border: none;
  display: flex;
  background-color: #fff;
  margin-top: -24px;
}
.pickup-date-swiper .swiper-button-next:after,
.pickup-date-swiper .swiper-button-prev:after,
.pickup-season-date-swiper .swiper-button-next:after,
.pickup-season-date-swiper .swiper-button-prev:after {
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  color: #3c3c3c;
  margin: 0;
}
.pickup-date-swiper .swiper-button-next.swiper-button-disabled,
.pickup-date-swiper .swiper-button-prev.swiper-button-disabled,
.pickup-season-date-swiper .swiper-button-next.swiper-button-disabled,
.pickup-season-date-swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.pickup-date-list,
.pickup-season-date-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 1em;
  font-size: 14px;
}
.pickup-date-list li,
.pickup-season-date-list li {
  width: 160px;
  border: 1px solid #a5a5a5;
  padding: 8px 16px;
  border-radius: 48px;
  opacity: 0.2;
  cursor: pointer;
}
.pickup-date-list li.active,
.pickup-season-date-list li.active {
  opacity: 1;
}
.pickup-date-list li:hover,
.pickup-season-date-list li:hover {
  opacity: 0.5;
}
.pickup-date-list .day,
.pickup-season-date-list .day {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.pickup-menu {
  display: none;
}
.pickup-menu.active {
  display: block;
}
.pickup-menu .tms-category {
  transform: none;
  box-shadow: none;
  background: none;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
.pickup-menu .tms-category-item {
  border-color: #a5a5a5;
  font-size: 18px;
  padding: 12px 24px;
}
.pickup-menu .tms-card-search {
  margin-top: 24px;
  display: none;
}
.pickup-menu .tms-card-wrap {
  margin-top: 32px;
}

.pickup-time-list,
.pickup-season-time-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1em;
  gap: 24px;
  opacity: 0.1;
}
.pickup-time-list.active,
.pickup-season-time-list.active {
  opacity: 1;
}
.pickup-time-list li,
.pickup-season-time-list li {
  background-color: #fff;
  padding: 32px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.pickup-time-list li.active,
.pickup-season-time-list li.active {
  background-color: #ffc4dc;
}
.pickup-time-list li.disable,
.pickup-season-time-list li.disable {
  background: none;
  color: #ebebeb;
  cursor: not-allowed;
}

.reservation-date {
  font-size: 18px;
  font-weight: 600;
  display: none;
}
.reservation-date.active {
  display: block;
}
.reservation-date-btn {
  margin-top: 32px;
  display: none;
}
.reservation-date-btn.active {
  display: flex;
}

.reservation-buy-btn,
.reservation-bulk-btn {
  top: 100%;
  transition: 1s ease;
  right: 64px;
  display: block;
  position: fixed;
  max-width: 360px;
  width: 100%;
  z-index: 100;
}
.reservation-buy-info,
.reservation-bulk-info {
  display: none;
  font-size: 16px;
  color: #a5a5a5;
  margin: 0;
}
.reservation-buy.active .reservation-buy-btn,
.reservation-buy.active .reservation-bulk-btn,
.reservation-bulk.active .reservation-buy-btn,
.reservation-bulk.active .reservation-bulk-btn {
  top: calc(100% - 230px);
}
.reservation-buy.active .reservation-buy-btn:hover a,
.reservation-buy.active .reservation-bulk-btn:hover a,
.reservation-bulk.active .reservation-buy-btn:hover a,
.reservation-bulk.active .reservation-bulk-btn:hover a {
  background-color: #ffc4dc;
}
.reservation-buy.active .reservation-buy-info,
.reservation-bulk.active .reservation-buy-info {
  display: none;
}

.tms-reservation-steps {
  display: none;
}

.tms-card-btn {
  display: flex;
  border-top: 1px solid #ebebeb;
}
.tms-card-btn a {
  width: 50%;
  background-color: #fdfaf7;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: 600;
}
.tms-card-btn a:hover {
  background-color: #ffec9f;
}
.tms-card-btn a + a {
  border-left: 1px solid #ebebeb;
  background-color: #fff;
}

.reservation-buy,
.reservation-bulk {
  margin-top: 64px;
  position: relative;
  overflow: hidden;
}
.reservation-buy::after,
.reservation-bulk::after {
  content: "";
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
}
.reservation-buy img,
.reservation-bulk img {
  max-width: 100%;
  height: 120px;
  transform: translateY(24px);
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

.reservation-bulk img {
  transform: translateY(10px);
}

.reservation-buy-btn-text,
.reservation-bulk-btn-text {
  font-size: 24px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  line-height: 1em;
  background-color: #ffec9f;
  border-radius: 2.5em;
  cursor: pointer;
}

.tms-reservation-location-title + .tms-reservation-location-title {
  display: none;
}

.reserv div {
  display: none;
}
.reserv .reserv-time {
  display: block;
}

.tms-modal-top {
  padding: 32px 0 !important;
}
.tms-modal-top h2 {
  font-weight: 600;
  margin: 0;
}

.icon-wifi:hover::after {
  content: "와이파이";
}

.icon-parking:hover::after {
  content: "주차가능";
}

.icon-noparking:hover::after {
  content: "주차불가";
}

.icon-valet:hover::after {
  content: "발레파킹";
}

.tms-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.tms-icon img {
  margin: 0 !important;
}
.tms-icon::after {
  display: none;
}
.tms-icon:hover::after {
  position: absolute;
  background-color: #3c3c3c;
  color: #fff;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 8px;
  display: block;
  white-space: nowrap;
}
.tms-icon + .tms-icon {
  margin-left: 8px;
}

.state-info {
  padding-top: 64px;
  padding-bottom: 64px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  align-items: center;
}
.state-info > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #a5a5a5;
}
.state-info > div::before {
  content: "";
  margin-right: 4px;
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 100%;
}
.state-info > div + div {
  margin-left: 24px;
}

.state-selected::before {
  background-color: #ffc4dc;
}
.state-enable::before {
  background-color: #3c3c3c;
}
.state-disable::before {
  background-color: #ebebeb;
}

.pickup-notice h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}
.pickup-notice ul {
  padding-left: 16px;
  margin: 0;
  font-size: 14px;
  color: #a5a5a5;
}

#s20230905cf46aae7bdfed .goods_payment .opt_block,
#s20230905cf46aae7bdfed .order_quantity_area {
  border-top: 1px solid #ebebeb !important;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#s20230905cf46aae7bdfed .shop-content .goods_payment .opt_block.bottom {
  display: table;
}
#s20230905cf46aae7bdfed .goods_payment .opt_block {
  padding: 0;
  padding-top: 24px;
  margin: 0;
  padding-bottom: 24px;
}
#s20230905cf46aae7bdfed .opt_product_area .area_tit:before,
#s20230905cf46aae7bdfed .order_quantity_area .area_tit:before {
  display: none;
}
#s20230905cf46aae7bdfed .area_tit {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}
#s20230905cf46aae7bdfed .pay_detail .real_price {
  font-weight: 600;
}
#s20230905cf46aae7bdfed .shop-content .goods_form .view_tit {
  font-weight: 600;
}
#s20230905cf46aae7bdfed .option_btn_tools input.form-control {
  border: none !important;
  color: #a5a5a5 !important;
  padding: 0 4px !important;
  height: 100% !important;
  width: 32px;
}
#s20230905cf46aae7bdfed .option_btn_tools {
  border-radius: 48px;
  padding: 0 12px;
  border: 1px solid #ebebeb;
  background: none;
}
#s20230905cf46aae7bdfed .area_price {
  position: static !important;
  transform: none;
  margin-left: 16px;
}
#s20230905cf46aae7bdfed .option_btn_wrap {
  display: flex;
  align-items: center;
}

#w202310232928c4edb662d .nav,
#w20231024041ccafc86387 .nav,
#w20231024660908e14b697 .nav,
#w202310248eed48bd97aa7 .nav,
#w2023102430e64b85a75a4 .nav,
#w2023102415f8072f478b1 .nav,
#mypage-list .nav {
  max-width: 1280px;
  padding: 0 64px;
}
#w202310232928c4edb662d ul,
#w20231024041ccafc86387 ul,
#w20231024660908e14b697 ul,
#w202310248eed48bd97aa7 ul,
#w2023102430e64b85a75a4 ul,
#w2023102415f8072f478b1 ul,
#mypage-list ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 8px;
  border-radius: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  transform: translateY(-50%);
  position: relative;
  z-index: 20;
}
#w202310232928c4edb662d ul li,
#w20231024041ccafc86387 ul li,
#w20231024660908e14b697 ul li,
#w202310248eed48bd97aa7 ul li,
#w2023102430e64b85a75a4 ul li,
#w2023102415f8072f478b1 ul li,
#mypage-list ul li {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
  border-radius: 48px;
  border: 1px solid #fff;
  opacity: 0.2;
}
#w202310232928c4edb662d ul li:hover,
#w20231024041ccafc86387 ul li:hover,
#w20231024660908e14b697 ul li:hover,
#w202310248eed48bd97aa7 ul li:hover,
#w2023102430e64b85a75a4 ul li:hover,
#w2023102415f8072f478b1 ul li:hover,
#mypage-list ul li:hover {
  opacity: 0.5;
}
#w202310232928c4edb662d ul li.active, #w202310232928c4edb662d ul li.on,
#w20231024041ccafc86387 ul li.active,
#w20231024041ccafc86387 ul li.on,
#w20231024660908e14b697 ul li.active,
#w20231024660908e14b697 ul li.on,
#w202310248eed48bd97aa7 ul li.active,
#w202310248eed48bd97aa7 ul li.on,
#w2023102430e64b85a75a4 ul li.active,
#w2023102430e64b85a75a4 ul li.on,
#w2023102415f8072f478b1 ul li.active,
#w2023102415f8072f478b1 ul li.on,
#mypage-list ul li.active,
#mypage-list ul li.on {
  opacity: 1;
  border-color: #ebebeb;
}
#w202310232928c4edb662d ul li a,
#w20231024041ccafc86387 ul li a,
#w20231024660908e14b697 ul li a,
#w202310248eed48bd97aa7 ul li a,
#w2023102430e64b85a75a4 ul li a,
#w2023102415f8072f478b1 ul li a,
#mypage-list ul li a {
  border: none !important;
  margin: 0 !important;
  display: block !important;
  padding: 16px 24px !important;
  width: 100%;
  height: 100%;
  background: none !important;
}
#w202310232928c4edb662d ul li + li,
#w20231024041ccafc86387 ul li + li,
#w20231024660908e14b697 ul li + li,
#w202310248eed48bd97aa7 ul li + li,
#w2023102430e64b85a75a4 ul li + li,
#w2023102415f8072f478b1 ul li + li,
#mypage-list ul li + li {
  margin-left: 16px;
}
#w202310232928c4edb662d .nav.sub-menu ul:before,
#w202310232928c4edb662d .nav:after,
#w20231024041ccafc86387 .nav.sub-menu ul:before,
#w20231024041ccafc86387 .nav:after,
#w20231024660908e14b697 .nav.sub-menu ul:before,
#w20231024660908e14b697 .nav:after,
#w202310248eed48bd97aa7 .nav.sub-menu ul:before,
#w202310248eed48bd97aa7 .nav:after,
#w2023102430e64b85a75a4 .nav.sub-menu ul:before,
#w2023102430e64b85a75a4 .nav:after,
#w2023102415f8072f478b1 .nav.sub-menu ul:before,
#w2023102415f8072f478b1 .nav:after,
#mypage-list .nav.sub-menu ul:before,
#mypage-list .nav:after {
  display: none;
}

.shop_mypage .left-menu {
  display: none;
}
.shop_mypage .col-md-10 {
  width: 100%;
}
.shop_mypage .ug_name.text-brand {
  color: #f193b7 !important;
  font-weight: 600;
}

.coupon-wrap .coupon-upper-warp::before,
.modal_mypage_coupon_use_list .coupon-wrap::before {
  content: "";
  background-image: url("https://cdn.imweb.me/upload/S2023090509034a75f0994/9a60821e3e229.png");
  display: block;
  height: 72px;
  width: 100%;
  margin-bottom: 24px;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
}

.coupon-wrap {
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  border: none;
}
.coupon-wrap h1 {
  font-size: 18px !important;
  color: #3c3c3c !important;
}
.coupon-wrap .btn-coupon img {
  filter: invert(1);
}
.coupon-wrap::after {
  display: none;
}

.modal_mypage_coupon_use_list .modal-dialog {
  width: 400px;
}
.modal_mypage_coupon_use_list .modal-dialog .coupon-wrap {
  box-shadow: none;
}

._coupon_list .row .col-md-4 .overflow-hidden {
  overflow: initial !important;
}

.coupon_use_btn {
  color: #a5a5a5 !important;
  text-decoration: none !important;
  border: 1px solid #ebebeb;
  padding: 0 8px;
  border-radius: 2.5em;
}

.mypage .head {
  border-radius: 20px;
}

.doz_sys .modal-content {
  border-radius: 20px;
}

.input_block .select-block .selectbox {
  border-radius: 20px;
}

#w2023102490b1ecdaeaf52 .acd_row:first-child,
#w2023102490b1ecdaeaf52 .acd_row {
  border-color: #ebebeb;
}
#w2023102490b1ecdaeaf52 .acd_icon {
  font-weight: 700;
  color: #a5a5a5;
  font-size: 12px;
}
#w2023102490b1ecdaeaf52 .acd_title {
  font-weight: 600;
  display: flex;
}
#w2023102490b1ecdaeaf52 .acd_title::before {
  content: "Q.";
  display: block;
  width: 20px;
  margin-right: 8px;
}
#w2023102490b1ecdaeaf52 .acd_heading {
  padding: 32px 0;
}
#w2023102490b1ecdaeaf52 .acd_body {
  padding-bottom: 22px;
  display: flex;
}
#w2023102490b1ecdaeaf52 .acd_body::before {
  content: "A.";
  display: block;
  width: 20px;
  margin-right: 8px;
}
#w2023102490b1ecdaeaf52 .acd_body .board_summary {
  position: absolute;
  bottom: 0;
  left: 28px;
}
#w2023102490b1ecdaeaf52 .acd_body .board_summary .left {
  padding: 0;
}
#w2023102490b1ecdaeaf52 .acd_collapse,
#w2023102490b1ecdaeaf52 .acd_collapse[aria-expanded=true] {
  border-top: none;
  position: relative;
}

#w20231024a17eb86ac8eed .acd_row:first-child,
#w20231024a17eb86ac8eed .acd_row {
  border-color: #ebebeb;
}
#w20231024a17eb86ac8eed .acd_icon {
  font-weight: 700;
  color: #a5a5a5;
  font-size: 12px;
}
#w20231024a17eb86ac8eed .acd_title {
  font-weight: 600;
}
#w20231024a17eb86ac8eed .acd_heading {
  padding: 32px 0;
}
#w20231024a17eb86ac8eed .acd_collapse,
#w20231024a17eb86ac8eed .acd_collapse[aria-expanded=true] {
  border-top: none;
  position: relative;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 20px;
  border-color: #ebebeb;
}

.board-head .ico-search,
.li_footer .ico-search {
  right: 8px;
}

.doz_sys a.cart-ctn,
.doz_sys a.cart-ctn:hover {
  color: #3c3c3c !important;
  text-decoration: none !important;
}

.doz_sys a.cart-ctn::after,
.doz_sys a.cart-ctn:hover::after {
  display: none;
}

#w20231024215af616619bc ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#w20231024215af616619bc ul .active {
  font-weight: 600;
}
#w20231024215af616619bc ul li + li {
  margin-left: 16px;
}
#w20231024215af616619bc ul li a {
  width: 120px;
  border: 1px solid #ebebeb;
}

.use_grade .ug_btn .btn {
  font-weight: 400;
  color: #a5a5a5 !important;
}

#shop_cart_list .shop-table .btn {
  background: none !important;
}

.doz_sys #s202309050d816a2ea8661 .btn-primary {
  border-color: #ffec9f !important;
  background-color: #ffec9f !important;
}

.im-cart-result-table {
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(230, 223, 199, 0.24);
  border-radius: 20px;
  overflow: hidden;
}
.im-cart-result-table .text-primary {
  color: #ffa2cb !important;
}

.im-cart-result-table thead > tr > th {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 16px !important;
  font-weight: 600;
  border: none !important;
}
.im-cart-result-table thead > tr > th .text-primary {
  padding: 0 8px;
}

.im-cart-result-container i {
  color: #a5a5a5;
}

.im-cart-result-table tbody > tr > td {
  border: none !important;
  padding: 0;
  padding-bottom: 40px;
}

.shop-content .shop-tools {
  text-align: left;
  padding-bottom: 40px;
}
.shop-content .shop-tools .down-btn {
  border-radius: 2.5em;
  border: 1px solid #a5a5a5;
  padding: 0 16px;
}
.shop-content .shop-tools .down-btn::after {
  right: 16px;
}

.doz_sys .text-brand,
.doz_sys .text-primary,
.list-style.blog .write a,
.board-head .photo_review.active .clearfix,
.shop-content.open .opt-group span.text-brand,
.form-select-wrap .dropdown-menu .dropdown-item.selected > a,
.form-select-wrap .dropdown-menu .dropdown-item.selected > a span {
  color: #ffa2cb !important;
}

@media screen and (max-width: 1440px) {
  .tms-header {
    font-size: 14px;
  }
  .tms-header .depth-01 ul {
    font-size: 12px;
    padding: 24px 0 0;
  }
  .tms-header .depth-01 ul li + li {
    margin-top: 16px;
  }
  .tms-header-nav > li {
    margin: 0 24px;
  }
}
@media screen and (max-width: 1312px) {
  .extend .inline-inside,
  .extend_section main,
  .doz_sys .visual_section .header-content {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }
}
@media screen and (max-width: 1280px) {
  .extend .inline-inside,
  .extend_section main,
  .doz_sys .visual_section .header-content {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .tms-header,
  .tms-footer-inner,
  .tms-padding,
  .reservation-ui {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reservation-ui {
    gap: 40px;
  }
  #w202310232928c4edb662d .nav,
  #w20231024041ccafc86387 .nav,
  #w20231024660908e14b697 .nav,
  #w202310248eed48bd97aa7 .nav,
  #w2023102430e64b85a75a4 .nav,
  #w2023102415f8072f478b1 .nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  #mypage-list {
    padding-left: 20px;
    padding-right: 20px;
  }
  #w202310232928c4edb662d .nav {
    padding-left: 0;
    padding-right: 0;
  }
  body {
    padding-top: 0 !important;
  }
  .tms-header,
  #doz_header .new_org_header #inline_header_normal,
  .fixed-menu-on #doz_header .new_fixed_header #inline_header_fixed {
    display: none;
  }
  #doz_header_wrap,
  #doz_header .new_org_header #inline_header_mobile,
  .fixed-menu-on #doz_header .new_fixed_header #inline_header_mobile_fixed {
    display: block;
  }
  .owl-controls {
    display: none;
  }
  .reservation-buy-btn,
  .reservation-bulk-btn {
    right: 20px;
  }
  #w202310189f8d8e80c145c,
  #w20231018839cc2c5994f6,
  #w20231018591885ca14d00,
  #w202310183030e5d963965,
  #w202310181fea184db0dfe {
    overflow: hidden;
    width: 100%;
    padding: 20px;
  }
  #w202310160881965cb9b34 {
    display: none;
  }
}
@media (max-width: 991px) {
  .tms-reservation-bar h3 {
    display: none;
  }
  .tms-reservation-bar label {
    margin-left: 0;
  }
  .tms-reservation-bar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 0;
    box-shadow: none;
    transform: translateY(-24px);
  }
  .tms-reservation-bar .tms-btn {
    padding: 12px 24px;
    font-size: 16px;
    width: -moz-min-content;
    width: min-content;
    white-space: nowrap;
    margin-top: 24px;
  }
  .tms-btn {
    padding: 12px 24px;
    font-size: 16px;
  }
  .tms-reservation-bar label {
    padding: 12px 24px;
    background: #fff;
    margin: 0;
  }
  .tms-reservation-bar label input {
    font-size: 18px;
  }
  .tms-reservation-bar-list {
    top: 100%;
  }
  #w2023101619d6346992227 ._gallery_wrap {
    aspect-ratio: 1/1;
  }
  #w2023101619d6346992227 .owl-stage-outer {
    border-radius: 0;
    overflow: hidden;
  }
  .tms-bg-bare {
    left: calc(50% + 40px);
    transform: scale(0.5);
  }
  .tms-bg-bare.loaded {
    top: 70px;
  }
  .tms-bg-puppy {
    top: 100px;
    right: 50%;
    transition: 1s ease;
    transform: scale(0.5) rotate(10deg);
  }
  .tms-bg-puppy.loaded {
    transform: scale(0.5) rotate(0);
  }
  .tms-bg1 {
    top: 70%;
    width: 90px;
    right: -10%;
  }
  .tms-bg2 {
    left: -10%;
  }
  .tms-bg3 {
    left: -15%;
  }
  .tms-bg4 {
    top: 100%;
    left: 70%;
    right: initial;
  }
  .tms-bg5 {
    top: 120%;
  }
  .tms-bg-bunny {
    left: -32px;
    right: initial;
    transform: scale(0.5);
  }
  .tms-bg-bunny.loaded {
    top: -50px;
  }
  .shop-item .item-detail {
    padding: 24px !important;
  }
  #w202310189f8d8e80c145c .owl-carousel .owl-item .text_wrap,
  #w20231018839cc2c5994f6 .owl-carousel .owl-item .text_wrap {
    padding: 20px;
  }
  #text_w20231018ce6a89e712816,
  #text_w202310181f32dfbc513c3,
  #text_w2023101849d431253eaf5,
  #text_w20231018680129754eda0,
  #text_w202310184c3d84bcea893 {
    margin-top: 48px;
    margin-bottom: 32px;
  }
  #w202310189f8d8e80c145c .slide_02 .item_gallary .text_wrap .title,
  #w202310189f8d8e80c145c .slide_05 .item_gallary .text_wrap .title,
  #w20231018839cc2c5994f6 .slide_02 .item_gallary .text_wrap .title,
  #w20231018839cc2c5994f6 .slide_05 .item_gallary .text_wrap .title {
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #w202310189f8d8e80c145c .slide_02 .item_gallary .text_wrap .title .body,
  #w202310189f8d8e80c145c .slide_05 .item_gallary .text_wrap .title .body,
  #w20231018839cc2c5994f6 .slide_02 .item_gallary .text_wrap .title .body,
  #w20231018839cc2c5994f6 .slide_05 .item_gallary .text_wrap .title .body {
    font-size: 14px;
  }
  .kakao-add {
    padding-top: 64px;
    padding-bottom: 80px;
  }
  .kakao-add p {
    font-size: 16px;
  }
  .tms-footer-top {
    flex-direction: column;
    font-size: 12px;
  }
  .tms-footer-top > div + div {
    margin-left: 0;
    margin-top: 32px;
  }
  .tms-footer-bottom {
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
  }
  .tms-footer-bottom li + li::before {
    display: none;
  }
  .tms-footer {
    border-radius: 20px 20px 0 0;
  }
  .tms-footer-bg1 {
    top: 30%;
    transform: scale(1.5) translateX(-50%);
  }
  .tms-footer-bg2 {
    transform: scale(1.5) translateY(0);
  }
  .tms-footer-bg3 {
    transform: scale(1.5) translate(30%, -16px);
  }
}